---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { sortPostsByDateDesc } from "../../utils/functions";

// Fetch and log the blog posts
const posts = await getCollection('blog').then((posts) => {
  return sortPostsByDateDesc(posts);
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Blog | ${SITE_TITLE}`} description="Dani Subject's Blog" />
    <style>
		main {
			margin-top: 5rem;
		}
		h1 {
			text-align: center;
		}
		hr {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			padding: 0;
		}
		ul li {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		ul li img {
			margin-bottom: 0.5rem;
			border-radius: 12px;
		}
		ul li a {
			display: block;
		}
		.date {
			margin: 0;
			color: rgb(var(--gray));
		}
		ul li a:hover h4,
		ul li a:hover .date {
			color: rgb(var(--accent));
		}
		ul a:hover img {
			box-shadow: var(--box-shadow);
		}
		.blog-links {
			text-decoration: underline;
			color: purple;
		}
		img {
			width: -webkit-fill-available
		}
		@media (max-width: 720px) {
			ul li {
				width: 100%;
				text-align: center;
			}
			ul li:first-child {
				margin-bottom: 0;
			}
		}
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>		
	  	<h1>All Posts</h1>
		<hr/>
        <ul>
          {posts.map((post) => {
            return (
              <li class="card">
                <a href={`/blog/${post.slug}/`}>
					<div class="tags">
						{post.data.tags.map((tag: string) => (
						<span>{tag}</span>
						))}
					</div>
					<h2>{post.data.title}</h2>
					<p>{post.data.description}</p>
					<p class="date">
					{new Date(post.data.pubDate).toLocaleDateString()}
					</p>
				</a>
              </li>
            );
          })}
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
