---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";
import { SITE_TITLE } from '../consts';

// Fetch and log the blog posts
const posts = await getCollection('blog').then((allPosts) =>
  allPosts.filter(post => post.data.featured)
);
---

<Layout pageTitle={`Home | ${SITE_TITLE}`}>
  <div class="landing-container">
    <div class="header-content">
      <div class="header-title-links">
        <h1 class="home-title">Dani Subject, developer and sustainable web advocate</h1>
        <div class="social-links">
          <ul class="social-list-items">
            <li class="icon-btn">
              <a class="icon-link" href="https://github.com/dsubject" target="_blank">
                <span class="social-icon git-icon">GitHub</span>
              </a>
            </li>
            <li class="icon-btn">
              <a class="icon-link" href="https://linkedin.com/in/danielle-subject" target="_blank">
                <span class="social-icon linkedin-icon">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <picture>
        <source srcset="/cropped-cartoon-2-tinied.webp" type="image/webp">
        <source srcset="/cropped-cartoon-2-tinied.png" type="image/png">
        <img class="landing-img" alt="Cartoon image of a woman sitting with her dog on a bench" src="/cropped-cartoon-2-tinied.png" width="600" height="400" />
      </picture>
    </div>
    <h2>Featured Posts</h2>
    <ul class="recent-posts-list">
      {posts.slice(0, 3).map((post) => (
        <li class="card">
          <a class="recent-posts-links" href={`/blog/${post.slug}`}>
            <div class="tags">
              {post.data.tags.map((tag: string) => (
              <span>{tag}</span>
              ))}
            </div>
            <h3>{post.data.title}</h3>
            <p>{post.data.description}</p>
            <small>{new Date(post.data.pubDate).toLocaleDateString()}</small>
          </a>
        </li>
      ))}
    </ul>
  </div>

  <style>
    .landing-container {
      display: flex;
      flex-direction: column;
    }
    .recent-posts-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 0;
    }
    .homepage-bio {
      min-height: 100px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  </style>
</Layout>
